<h1 class="level1-heading">
  <span class="level1-heading__inner">メモ表示</span>
</h1>

<h2 class="level2-heading">メモID</h2>
<%= @memo_id %>

<h2 class="level2-heading">タイトル</h2>
<%= h @result_hash["title"] %>

<h2 class="level2-heading">内容</h2>
<%= h @result_hash["body"] %>

<ul class="horizontal-btn-list">
  <li class="horizontal-btn-list__item">
    <form action="/memos/<%= @memo_id %>/edit" method="get">
      <input class="horizontal-btn-list__btn rounded-btn btn--warning" type="submit" value="メモ変更">
    </form>
  </li>
  <li class="horizontal-btn-list__item">
    <form action="/memos/<%= @memo_id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input class="horizontal-btn-list__btn rounded-btn btn--alert" type="submit" value="メモ削除">
    </form>
  </li>
</ul>
