<h2>表示</h2>
タイトル:<br>
<%= settings.md.get_memo(@id).title %>
<br>
本文:<br>
<%= settings.md.get_memo(@id).content %>
<br>
更新日時:<br>
<%= settings.md.get_memo(@id).date %>
<br>
<form action="/memos/<%= @id %>/edit" method="get">
  <input type="submit" value="変更">
</form>
<form action="/memos/<%= @id %>" method="post">
  <input type="submit" value="削除">
</form>
<a href="/">ホーム</a>
